<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Inicio</title>
</head>
<body>

<h2 th:if="${#authentication != null}">Bienvenido, <span th:text="${#authentication.name}">Usuario</span></h2>

<form th:action="@{/logout}" method="post">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
    <button type="submit">Cerrar sesión</button>
</form>

<p>Ir a <a th:href="@{/reserva}">Reserva de cita</a></p>

</body>
</html>

