<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Inicio</title>
</head>
<body>

<!-- Bienvenida solo si ha iniciado sesión -->
<div th:if="${#authentication != null and #authentication.name != 'anonymousUser'}">
    <h2>Bienvenido, <span th:text="${#authentication.name}">Usuario</span></h2>
</div>

<!-- Botones siempre visibles (la protección está en el backend vía Spring Security) -->
<p><a th:href="@{/reserva}">Reserva de cita</a></p>
<a th:href="@{/citas}">
    <button>Ver Citas</button>
</a>

<!-- Mostrar solo si NO ha iniciado sesión -->
<div th:if="${#authentication == null or #authentication.name == 'anonymousUser'}">
    <p><a th:href="@{/login}">Iniciar sesión</a></p>
</div>

<!-- Mostrar solo si ha iniciado sesión -->
<div th:if="${#authentication != null and #authentication.name != 'anonymousUser'}">
    <form th:action="@{/logout}" method="post">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        <button type="submit">Cerrar sesión</button>
    </form>
</div>

</body>
</html>


