<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Iniciar sesión</title>
</head>
<body>
<h2>Iniciar sesión</h2>

<div th:if="${errorMsg}" th:text="${errorMsg}" style="color:red;"></div>
<div th:if="${msg}" th:text="${msg}" style="color:green;"></div>

<form th:action="@{/login}" method="post">
  <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

  <label>Email o Usuario:</label><br>
  <input type="text" name="username" required/><br><br>

  <label>Contraseña:</label><br>
  <input type="password" name="password" required/><br><br>

  <button type="submit">Ingresar</button>
</form>

<p>¿No tienes cuenta? <a th:href="@{/register}">Regístrate</a></p>
</body>
</html>
